body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__content {
  display: grid;
  
}

.header__seed {
  display: flex;
  justify-content: space-between;
}

.header__Travelulu {
  width: 175.313px;
  height: 55px;
  flex-shrink: 0;

  color: var(--Primary-Default, #5f2eea);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 34.375px;
  font-weight: 700;
  line-height: 55px;
}

.header__image {
  width: 28px;
  height: 18px;
  margin: 25px 25px;
}
